*{
    margin: 0px;
    padding: 0;
}
body{
    background-color: black;
    color: aliceblue;
}
header{
    background: linear-gradient(to bottom , rgb(255, 165, 165) , black );
    text-align: center;
    display: flex;
    justify-content: center;
    height: 13vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display: inline;
}
img{
    display: inline;
    width: 34px;
    height: auto;
}
.title{
    display: inline;
    margin-right: 800px;
    margin-left: 12px;
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    color: rgb(249, 226, 211);
}
.links{
    display: inline;
}
.links1{
    margin: 28px;
    color: rgb(249, 226, 211);
    font-size: 23px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
}
.hero{
    display: inline-block;
    text-align: center;
    margin-left: 2vw;
    height: 88vh;
}
.herotitle{
   
    margin-top: 150px;
    font-size: 60px;
    font-family: "Molle", cursive;
    font-weight: 200;
    color: rgb(249, 226, 211);
  /* font-style: italic; */
}
.herodesc{
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
    font-size: 24px;
    margin: 30px 400px 30px 400px;
}
.button1{
    background-color: rgb(255, 165, 165);
    width: 250px;
    height: 65px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Fontdiner Swanky" ,Helvetica, sans-serif;
}